body{

  margin: 0;
  padding: 0;

  font-family: "Roboto", sans-serif;
  font-size: 0;
  font-weight: 400;
  color: rgba(0,0,0,0.9);

  background-color: #F5F5F5;

}

div{

  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;

}

#main_wrapper{

  position: absolute;

  width: 100%;
  max-width: 800px;

  left: 50%;
  transform: translateX(-50%);

}

/*----------------------------------------------------------------------------------------------------------*/

#header{

  width: 100%;
  height: 225px;

  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  background-color: #9E9E9E;

}

.header_good{ background: linear-gradient(45deg, rgba(139,195,74,1) 0%, rgba(192,202,51,1) 100%); }
.header_warn{ background: linear-gradient(45deg, rgba(255,179,0,1) 0%, rgba(253,216,53,1) 100%);  }
.header_bad { background: linear-gradient(45deg, rgba(211,47,47,1) 0%, rgba(239,83,80,1) 100%); }

#header_bar{

  width: 100%;
  height: 65px;

  border-bottom: 1px solid rgba(0,0,0,0.15);

}

#header_bar_icon{

  width: 65px;
  height: 65px;

  background-image: url("img/hamburger.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 45%;

}

#header_bar_text{

  width: calc(100% - 65px);
  height: 65px;

  font-size: 20px;
  color: rgba(255,255,255,0.9);
  line-height: 65px;

}

#header_info{

  position: relative;
  width: 100%;
  height: calc(100% - 65px);

}

#header_info_icon{

  width: 100px;
  height: 100%;

  margin-left: 25px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

}

.header_info_icon_good{ background-image: url("img/gut.svg");     }
.header_info_icon_warn{ background-image: url("img/info.svg");    }
.header_info_icon_bad { background-image: url("img/warnung.svg"); }

#header_info_wrapper{

  position: absolute;
  width: calc(100% - 125px);

  padding-left: 25px;
  padding-right: 25px;

  top: 50%;
  transform: translateY(-50%);

}

#header_info_status{

  width: 100%;

  margin-bottom: 10px;

  font-size: 30px;
  color: rgba(255,255,255,0.9);
  font-weight: 700;

}

#header_info_text{

  width: 100%;
  font-size: 17px;
  color: rgba(255,255,255,0.85);

}

/*----------------------------------------------------------------------------------------------------------*/

#body{

  width: 100%;
  padding: 6px;
  padding-top: 25px;

}

.tile{

  margin: 6px;
  overflow: hidden;

  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 25px;

  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
  background-color: #FFFFFF;

}

.tile_small{

  width: calc(50% - 12px);
  max-width: 200px;
  max-height: 200px;

}

.tile_large{

  width: calc(100% - 12px);
  max-width: 400px;
  max-height: 200px;

}

.tile_header{

  width: 100%;

  padding: 15px;
  padding-bottom: 0;

}

.tile_header_icon{

  width: 20px;
  height: 20px;

  margin-right: 5px;

  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;

  background-image: url("img/info.svg");

  opacity: 0.75;

}

.tile_header_icon_power{ background-image: url("img/strom.svg"); }
.tile_header_icon_water{ background-image: url("img/wasser.svg"); }
.tile_header_icon_gas  { background-image: url("img/gas.svg"); }
.tile_header_icon_carbon{ background-image: url("img/carbon.svg"); }

.tile_header_text{

  width: calc(100% - 25px);

  font-size: 15px;
  line-height: 20px;
  color: rgba(0,0,0,0.75);

}

.tile_content{

  width: 100%;
  height: calc(100% - 55px);

}

.tile_footer{

  width: 100%;
  height: 20px;

  background-color: #9E9E9E;

}

.tile_footer_good{ background-color: #9CCC65; }
.tile_footer_warn{ background-color: #FBC02D; }
.tile_footer_bad { background-color: #F44336; }
